:root {
  --font-main: 'Open Sans', sans-serif;
  --font-title: 'Montserrat', sans-serif;

  --grey-100: #ccc;
  --grey-200: #babec1;
  --grey-300: #aaa;
  --grey-400: #7A8288;
  --grey-500: #32383e;
  --grey-600: #3A3F44; 
  --grey-800: #272B30;
  --grey-900: #1c1e22;

  --white: #fff;
}