doctype html
html(lang='en')
  include ../partials/_head-children
  body
    include _header

    .content.container
      .row
        main.main.col-12.col-md-9
          .single-page
            block page
        
        nav.sidebar.col-12.col-md-3
          include _sidebar

    include ../partials/_scripts-children