doctype html
html(lang='en')
  include ../partials/_head
  body
    include ../partials/_header

    .content.container
      .row
        main.main.col-12.col-md-9
          .category
            block title
            .category-list
              block category-list
        
        nav.sidebar.col-12.col-md-3
          include ../partials/_sidebar-main

    include ../partials/_scripts