extends layout/_layout-category

include partials/_mixins

block title
  +page-title('React')

block category-list
  - var articles = []
  -articles.push(['Как измененить порт локального хоста по умолчанию', 'pages/react/page-001.html'])
  -articles.push(['Как измененить state на противоположный', 'pages/react/page-002.html'])

  each index in articles
    li.category-list__item
      a(href= index[1])= index[0]