extends layout/_layout-main

include partials/_mixins

block categories
  - var categories = []
  - categories.push(['React', '/category-react.html'])
  - categories.push(['JS', '/category-js.html'])
  - categories.push(['Gulp', '/category-gulp.html'])
  - categories.push(['SCSS', '/category-scss.html'])
  - categories.push(['CSS', '/category-css.html'])
  - categories.push(['HTML', '/category-html.html'])


  each index in categories
    .col-12.col-sm-6.col-lg-4.mb-5
      a(class="categories__item" href= index[1])= index[0]
